/* Should I make the left justified? */
.aboutMe {
    text-align: center;
    text-align: justify;
}

h4 {
    display: flex;
    justify-content: center;
}

#heading {
    text-align: center;
}

#pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#woxy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#eagle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 0;
}

#mission_pic2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#mission_pic, #mission_pic3 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 140%;
}

#eagle_pic, #eagle_pic2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#mission_trip, #mission_trip2, #mission_trip3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 42px;
}

#roxy, #roxy3, #roxy2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120%;
    padding-bottom: 42px;
}

#eagle1, #eagle2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 0;
}

h3 {
    display: flex;
    justify-content: center;
}

.date {
    margin-left: 0;
    display: flex;
    justify-content:flex-end;
}

figcaption {
    word-wrap: break-word;
    width: 100%;
}

@media (min-width: 768px) {
    #pics {
        flex-direction: row;

    }

    #mission_pic, #mission_pic3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media (max-width: 480px) {
    #roxy, #roxy3, #roxy2 {
        display: block;
        justify-content: center;
        /* margin-left: 50px;
        margin-right: 20px; */
        padding-bottom: 0;
        width: 50%;
    }

    #pics {
        display: block;
        justify-content: center;

    }
    #mission_trip, #mission_trip2, #mission_trip3 {
        display: block;
        justify-content: center;
        /* margin-left: 50px;
        margin-right: 20px; */
        padding-bottom: 0;
        width: 50%;
    }

    #mission_trip, #mission_trip3 {
        padding-right: 20%;
    }
    #mission_trip3 {
        padding-bottom: 55px;
    }

    figcaption {
        width: 100%;
    }
}