#heading {
    text-align: center;
}

#experience {
    padding-bottom: 35px;
}

#experience .container + ul{
    
    background-color: #020f07;        /* light gray background */
    border: 1px solid #ddd;          /* light border */
    border-radius: 6px;              /* rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow */
    padding: 16px;                   /* space inside the box */
    margin: 20px 0;                  /* vertical spacing between boxes */
}