html {
    font-family: cursive;
}

#profile {
    align-self: center;
    width: 200px;
    padding-top: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-bar {
    background-color: #4f0270;
    overflow: hidden;
    width: 100vw;
    margin: 0;
}
.menu-bar a {
    float: left;
    justify-content: space-around;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu-bar a:hover {
    background-color: gold;
    color: purple;
}

h1 {
    display: flex;
    background: linear-gradient(to right, #4d24b4, #d1c12f);
    color: white;
    width: 100vw;
    margin: 0;
    padding: 10px;
    justify-content: center;
    top: 0;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10%;
}

#list_div {
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    background: linear-gradient(to right, #4d24b4, #d1c12f); /* Gradient background */
    color: white;
    width: 100vw;
    margin: 0;
    padding: 10px;
    text-align: center;
    align-self: center;
}
