html, body {
    font-family: cursive;
    margin: 0;
    padding: 0;
}

h1 {
    position: relative;
    color: black;
    height: auto;
    width: 100%;
    margin: 0;
    text-align: center;
}

#about {
    color:white;
}

#header {
    background: linear-gradient(to right, #4d24b4, #d1c12f);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}

footer {
    background: linear-gradient(to right, #4d24b4, #d1c12f);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1em;
}

.menu-bar {
    margin: 0 auto;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.menu-bar a {
    /* float: left;
    justify-content: space-around; */
    color: white;
    text-align: center;
    padding: 15px 30px;
    /* max-width: 0 auto; */
    text-decoration: none;
}

.menu-bar a:hover {
    background-color: gold;
    color: purple;
}

@media (max-width: 420px) {

    .menu-bar a {
        padding: 9px 5px;
    }

}
@media (max-width: 700px) and (min-width: 420px) {
    
    .menu-bar a {
        padding: 13px 20px;
    }
}

@media (min-width: 1054px) {

    .menu-bar a {
        padding: 25px 60px;
    }
}

@media (prefers-color-scheme: dark) {
    
    html {
        color: #eee;
        background: #121212;
    }
}