html, body {
    font-family: cursive;
}

h1 {
    display: fixed;
    color: black;
    width: 100vw;
    top: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
}

#about {
    color:white;
}

#header {
    background: linear-gradient(to right, #4d24b4, #d1c12f);
    width: 100vw;
}

.container {
    display: flex;
    justify-content: space-between;
}

footer {
    background: linear-gradient(to right, #4d24b4, #d1c12f);
    display: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem;
}

.menu-bar {
    margin: 0 auto;
}

.menu-bar {
    background: linear-gradient(to right, #4d24b4, #d1c12f);
    overflow: hidden;
    width: 100vw;
    margin: 0;
}

.menu-bar a {
    float: left;
    justify-content: space-around;
    color: white;
    text-align: center;
    padding: 15px 30px;
    max-width: 0 auto;
    text-decoration: none;
}

.menu-bar a:hover {
    background-color: gold;
    color: purple;
}

@media (max-width: 420px) {

    .menu-bar {
        margin: 0 auto;
    }

    .menu-bar a {
        float: left;
        justify-content: space-around;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }

}
@media (max-width: 700px) and (min-width: 420px) {
    .menu-bar a {
        padding: 13px 20px;
    }
}

@media (min-width: 1054px) {

    .menu-bar {
        margin: 0 auto;
    }
    
    .menu-bar {
        background: linear-gradient(to right, #4d24b4, #d1c12f);
        overflow: hidden;
        width: fit-content;
        margin: 0;
    }

    .menu-bar a {
        float: left;
        justify-content: space-between;
        color: white;
        text-align: center;
        padding: 25px 79px;
        text-decoration: none;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color: #eee;
        background: #121212;
    }
}